{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<h1>Confirm Appointments for Participant {{ participant_id }}</h1>
		</div>
		<div class="container" id="container">
			<div id="first">
				<h2>Dates with Conflicts:</h2>
				{% for date in conflict_dates %}
					<p>{{ date[0] }} - {{ date[1] }}</p>
				{% endfor %}
			</div>
			<div id="second">
				<h2>Dates without Conflicts:</h2>
				<form action="/confirm-schedules" method="POST">
				{% for date in no_conflict_dates %}
					<p >{{ date[0] }} - {{ date[1] }}</p>
					<input type="text" name="no_conflict" value="{{ date[0] }} - {{ date[1] }}" hidden>
				{% endfor %}
				<input type="text" name="project_id" value="{{ project_id }}" hidden>
				<input type="text" name="participant_id" value="{{ participant_id }}" hidden>
				{% if no_conflict_dates %}
					<input type="submit" value="Confirm non-conflicting dates">
				{% endif %}
				</form>
			</div>
			<div id="clear">
			</div>
		</div>
		<a href="/schedule/{{ project_id }}/{{ participant_id }}">Return to Scheduling for Participant {{ participant_id }}</a><br>
		<a href="/project/{{ project_id }}">Return to Project Dashboard</a>
	</div>


{% endblock %}