{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
				<h1>Manage Settings For: {{ access.project.int_project_name }}</h1>
		</div>
		<div class="row justify-content-center">
			<a href="/details/{{ access.project_id }}" class="project_link">Project Details</a><br>
			<a href="/timeslots/{{ access.project_id }}" class="project_link">Project Timeslots</a><br>
			<a href="/users/{{ access.project_id }}" class="project_link">Manage Project Users</a><br><br>

			<a href="/project/{{ access.project_id }}">Return to Project Dashboard</a>
		</div>

	</div>

{% endblock %}