{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center"></div>
			<h1>Project: {{ access.project.int_project_name }}</h1>
			<h1>View/Schedule Appointments for Participant: {{ participant_id }}</h1>
		</div>
		<div class="row justify-content-center" id="appt_container">
			<h2>Schedule Appointments</h2>
			{% if access.project_access == 'view' %}
				<h3 class="subtle_headline">You do not have permissions to schedule participants.</h3>
			{% else %}
				<form action="/check-conflicts" method="POST">
					{% if project_defaults %}
					{% else %}
						<div class="schedule_div" id="div_1">
							Schedule
							<select name="freq_1" class="frequency" id="freq_1">
								{% for frequency in frequencies %}
									<option value="{{ frequency }}">{{ frequency }}</option>
								{% endfor %}
							</select>
							<span class="repeat_in" id="repeat_in_1"> in </span>
							<input type="text" name="repeat_in_1" pattern="[0-9]{1,}" title="Integer greater than or equal to 1">
							<span class="time_day" id="time_day_1"> days </span>
							<span class="from_start" id="from_start_1"> from </span>
							<input type="date" name="starting_on_1">
							at <select name="time_1">
									<option value="default_selection" selected>-- Select Timeslot --
								{% for timeslot in timeslots %}
									<option value="{{ timeslot.start_time }} - {{ timeslot.end_time }}">{{ timeslot.start_time }} - {{ timeslot.end_time }}
								{% endfor %}
							</select>
							<input type="text" name="div_ids" value="1" hidden>
							<i class="remove fas fa-trash" id="remove_1"></i>
						</div>
					{% endif %}
					<div class="add">Add Time</div>
					<input type="input" name="project_id" value="{{ access.project_id }}" hidden>
					<input type="input" name="participant_id" value="{{ participant_id }}" hidden>
					<input type="submit">
				</form>
			{% endif %}
		</div>
		<div class="row justify-content-center">
			<h2>Appointments Already Scheduled</h2>
			{% if appointments %}
				<form action="/delete-appointment" method="POST">
					<table>
						<tr>
							<th hidden>schedule_id</th>
							<th>Appointments Scheduled</th> 
							<th>Scheduled By</th>
							<th>Delete</th>
						</tr>
						{% for appoint in appointments %}
							<tr>
								<td hidden><input type="text" name="schedule_id" value="{{ appoint[0] }}"></td>
								<td>{{ appoint[1] }} - {{ appoint[2] }}</td>
								<td>{{ appoint[3] }} {{ appoint[4] }}
								<td><input type="checkbox" name="delete_appoint_{{ appoint[0] }}"></td>
							</tr>
						{% endfor %}
					</table>
				</form>
			{% else %}
			<h3 class="subtle_headline">There are no appointments scheduled for this participant</h3>
			{% endif %}
		</div><br><br>
		<a href="/project/{{ access.project_id }}">Return to Project Dashboard</a>
	</div>

{% endblock %}

{% block js %}
	<script>
		const freq = document.querySelector("#freq_1");

		// update verbiage in between dropdowns when different frequency is chosen
		freq.addEventListener('change', () => {
			const repeatIn = document.querySelector('#repeat_in_1');
			const timeDay = document.querySelector('#time_day_1');
			const fromStart = document.querySelector('#from_start_1')
			if (freq.value === 'once') {
				repeatIn.innerText = ' in ';
				timeDay.innerText = ' days ';
				fromStart.innerText = ' from ';
			} else {
				repeatIn.innerText = 'repeat';
				timeDay.innerText = ' times ';
				fromStart.innerText = ' starting on ';	
			};
		});

		$('.add').click(() => {

			// get last <div> with element class id and calculate the next item id
			const lastid = $('.schedule_div:last').attr('id');
			const splitid = lastid.split('_');
			const nextindex = Number(splitid[1]) + 1;

			// add new div container after last occurance of element class
			$('.schedule_div:last').after("<div class='schedule_div' id='div_" + nextindex + "'></div>");

			// add element to <div>
			$("#div_" + nextindex).append(
							`Schedule <select name='freq_${nextindex}' class='frequency' id='freq_${nextindex}'>
								{% for frequency in frequencies %}
									<option value='{{ frequency }}'>{{ frequency }}</option>
								{% endfor %}
							</select>
							<span class='repeat_in' id='repeat_in_${nextindex}'> in </span>
							<input type='text' name='repeat_in_${nextindex}' pattern='[0-9]{1,}' title='Integer greater than or equal to 1'>
							<span class='time_day' id='time_day_${nextindex}'> days </span>
							<span class="from_start" id="from_start_${nextindex}"> from </span>
							<input type='date' name='starting_on_${nextindex}'>							
							at <select name='time_${nextindex}'>
								<option value="default_selection" selected>-- Select Timeslot --
								{% for timeslot in timeslots %}
									<option value='{{ timeslot.start_time }} - {{ timeslot.end_time }}'>{{ timeslot.start_time }} - {{ timeslot.end_time }}
								{% endfor %}
							</select>
							<input type="text" name="div_ids" value="${nextindex}" hidden>
							<i class="remove fas fa-trash" id='remove_${nextindex}'></i>`);

			// add event listener and function to each new div so text in between dropdowns changes when frequency is changed
			const freq1 = document.querySelector(`#freq_${nextindex}`);
			freq1.addEventListener('change', () => {
				const repeatIn = document.querySelector(`#repeat_in_${nextindex}`);
				const timeDay = document.querySelector(`#time_day_${nextindex}`);
				const fromStart = document.querySelector(`#from_start_${nextindex}`);
				if (freq1.value === 'once') {
					repeatIn.innerText = ' in ';
					timeDay.innerText = ' days ';
					fromStart.innerText = ' from ';
				} else {
					repeatIn.innerText = 'repeat';
					timeDay.innerText = ' times ';	
					fromStart.innerText = ' starting on ';	
				};
			});
		});

		// Remove the proper element when remove is selected
		$('#appt_container').on('click', '.remove', (e) => {
			const target = e.target;
			console.log(target);
			const id = target.id;
			const split_id = id.split('_');
			const delete_num = split_id[1];
			
			// remove div with that number
			$('#div_' + delete_num).remove();
		});

		
	</script>

{% endblock %}