{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
				<h1>Add/Remove Users For: {{ access.project.int_project_name }}</h1>
		</div>
		<div class="row justify-content-center">
			<h2>Add Users to Project</h2>
			{% if dept_users %}
				<form action="/add-user" method="post">
					User to Add:
					<select name="new_user">
						{% for user in dept_users %}
							<option value="{{ user.user_id }}">{{ user.user_info.first_name }} {{ user.user_info.last_name }}</option>
						{% endfor %}
					</select><br>
					Access Level:
					<select name="access_level">
						{% for level in levels %}
						<option value="{{ level }}">{{ level }}</option>
						{% endfor %}
					</select><br>					
					<input type="text" name="project_id" value="{{ access.project_id }}" hidden>
					<input type="submit">
				</form><br>
			{% else %}
				<h3 class="subtle_headline">There are no users to add</h3>
			{% endif %}

			<h2>Current Users</h2>
			<form action="/change-users" method="post">
				<table>
					<tr>
						<th>User Name</th>
						<th hidden>user_id</th>
						<th>View</th>
						<th>Edit</th>
						<th>Admin</th>
						<th>Remove Access</th>
					</tr>
					{% for user in proj_users %}
						<tr>
							<td>{{ user.user_info.first_name }} {{ user.user_info.last_name }}</td>
							<td hidden><input type="text" name="user_id" value="{{ user.user_id }}"></td>
							<td><input type="radio" name="access_level{{ user.user_id }}" value="view"
								{{ "checked" if user.project_access == 'view' else '' }}></td>
							<td><input type="radio" name="access_level{{ user.user_id }}" value="edit"
								{{ "checked" if user.project_access == 'edit' else '' }}></td>
							<td><input type="radio" name="access_level{{ user.user_id }}" value="admin"
								{{ "checked" if user.project_access == 'admin' else '' }}	></td>
							<td><input type="checkbox" name="remove_access{{ user.user_id }}" value="remove_access"></td>
						</tr>
					{% endfor %}
				</table>
				<input type="text" name="project_id" value="{{ access.project_id }}" hidden>
				<input type="submit" value="Make Updates">
				</form><br><br>

		<h3>Definition of Project Access Levels:</h3>
		<p><b>View:</b> 'View' users can only view a participant's schedule or the project calendar but may export both.</p>
		<p><b>Edit:</b> 'Edit' users can schedule participants in addition to 'view' access rights. </p>
		<p><b>Admin:</b> Admins can add users to a project, update project details, and change project timeslots in addition to 'view' and 'edit' rights.</p>

		</div><br>

			<a href="/details/{{ access.project_id }}">Project Details</a><br>
			<a href="/timeslots/{{ access.project_id }}">Project Timeslots</a><br><br>
			<a href="/project/{{ access.project_id }}">Return to Project Dashboard</a>

	</div>


{% endblock %}
